{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "Инструкции отправлены" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{% trans "Инструкции отправлены" %}</h4>
                <p>{% blocktrans %}Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.{% endblocktrans %}</p>
                <hr>
                <p class="mb-0">{% blocktrans %}Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым вы зарегистрировались, и проверьте папку со спамом.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
